body {
    background-image : url( "https://s21.ax1x.com/2024/07/31/pkOlAeI.jpg" );
    background-size : auto 100%;
    background-position : center;
    padding : 5%;
}

h, top, bl, [bl], tab, tab name, tab:hover content, tab content:hover, input[ type="text" ], textarea, [fw], tool name, tool info, input[type="file"] {
    display : block;
}

tool {
    display : inline-block;
}

* {
    transition : all 0.5s ease-in-out;
    text-shadow : 0px 2px 7px #000,
      0px 3px 10px #000;
}

top {
    position : fixed;
    top : 0; left : 0;
    width : 100%;
    background-color : #FBB;
    padding : 5px;
    padding-left : 20px;
    padding-right : 20px;
    font-size : 145%;
    box-shadow : 0px 1px 5px #FBB,
      0px 1px 20px #DDD;
    text-shadow : none;
}

fixed, [fixed] {
    position : fixed;
    top : 79%; left : 70%;
    background-color : #FCC;
    font-size : 125%;
    box-shadow : 0px 1px 1px #777;
    padding : 10px;
}

h {
    font-size : 200%;
    border-bottom : 1px solid #ECC;
    padding-left : 10px;
    color : #FDD;
}

bl, [bl] {
    border-left : 2px solid #EAA;
    color : #FBB;
    padding-left : 10px;
}

btn, [btn] {
    padding : 2px;
    padding-left : 10px;
    padding-right : 10px;
    background-color : #FBB;
    color : #FFF;
    text-shadow : none;
}

btn:active, [btn]:active {
    background-color : #F99;
}

[pd] {
    padding : 6px;
    padding-left : 15px;
    padding-right : 15px;
}

a, a[href] {
    text-decoration : none;
    color : #FBB;
}

tab {
    width : 100%;
    /*background-color : #A44;*/
}

tab name, tab content {
    padding : 2px;
    text-shadow : none;
}

tab name {
    background-color : #FBB;
    font-size : 140%;
    padding-left : 10px;
    padding-right : 10px;
    width : 94.5%;
    border-bottom : 3px solid #FAA;
}

tab:hover content,
tab content:hover {
    background-color : rgba( 244, 127, 127, 0.1 );
    padding-left : 5px;
    padding-right : 5px;
    backdrop-filter : blur(3px);
    text-shadow : none;
    position : absolute;
    max-height : 50%;
    z-index : 2;
    overflow-y : auto;
    width : 78%;
}

tab content {
    display : none;
    text-shadow : none;
}

input[ type="text" ], textarea, input[ type="text" ]:focus, textarea:focus {
    width : 70%;
    border : none;
    outline : none;
    background-color : rgba( 244, 127, 127, 0.1 );
    backdrop-filter : blur(3px);
    color : #FFF;
    padding-left : 10px;
    padding-right : 10px;
    text-shadow : none;
}

textarea {
    height : 10%;
}

[fw] {
    width : 100%;
}

[ps] {
    top : 83%;
}

btn:active, [btn]:active {
    background-color : #FAA;
}

tool {
    background-color : #FAA;
    width : 110px;
    border-radius : 10px;
    color : #FFF;
    padding-top: 5px;
    padding-left : 20px;
    padding-right : 20px;
    padding-bottom : 10px;
    text-shadow : none;
}

tool name {
    font-size : 150%;
    border-bottom : 1px solid #FFF;
    text-shadow : none;
}

tool info {
    padding : 7px;
    text-shadow : none;
}

input[type="file"] {
    background-color : #FAA;
    border-radius : 10px;
    color : #FFF;
    padding : 7px;
    text-shadow : none;
}

.swal-text, .swal-content, .swal-title, .swal-button, .swal-content__input, .none-shadow {
    text-shadow : none;
}

.light-shadow {
    text-shadow : 0px 2px 5px #222;
}
